$dialog-color-bg: #222436;
$dialog-bar-height: 5%;
$dialog-title-size: 1.7em;
$open-btn-size: 1em;

@mixin set-border($width) {
  border-radius: 10px;
  border-style: solid;
  border-width: $width;
}

@mixin clean-size {
  padding: 0;
  border: 0;
}
@mixin dialog-size {
  width: 50%;
  top: 10%;
  bottom: 10%;
}
@mixin fs-container() {
  width: 100%;
  height: 100%;
}
